@font-face
  font-family: 'ProximaNovaBold'
  src: url('/assets/ProximaNovaCond-Bold.otf') format("opentype")
  font-weight: normal
  font-style: normal

body
  margin: 0px
  padding: 0px
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  background: #2a2a2c


.white-strip
  width: 100%
  background: #fff

.wrapper
  width: 1000px
  margin: 0px auto

  &.padding1
    padding: 25px 0

  &.padding2
    padding: 50px 0

  &.padding3
    padding: 75px 0

  &.padding4
    padding: 100px 0

  &.padding5
    padding: 125px 0

  &.padding6
    padding: 150px 0


.title
  font-size: 64px
  line-height: 1.5
  color: #fff
  text-align: center
  margin-top: 0px
  font-family: ProximaNovaBold


  .light
    color: #cc181e

.price
  text-align: center
  font-size: 72px
  color: #cc181e


.phone
  text-align: center
  font-size: 48px
  color: #000

  .small
    margin-top: 25px
    font-size: 24px


.order-button
  width: 220px
  height: 50px
  line-height: 50px
  text-align: center
  color: #ffffff
  letter-spacing: 1px
  font-size: 16px
  border-radius: 5px
  cursor: pointer
  margin: 50px auto
  background: #26bbf3
  -webkit-transition: all 0.2s
  &:hover
    background: #2793e6


.form-body
  padding: 50px



  input
    width: 254px
    height: 30px
    border: 1px solid #bbb
    font-size: 16px
    padding: 5px 15px
    margin-right: 25px
    border-radius: 3px

  button
    width: 220px
    height: 42px
    border: none
    font-size: 16px
    margin-right: 25px
    border-radius: 3px
    text-align: center
    cursor: pointer
    background: #cc181e
    -webkit-transition: all 0.2s
    color: #fff
    &:hover
      background: #2793e6


.form-success
  display: none
  padding: 50px
  text-align: center
  font-size: 48px
  color: #cc181e
  font-family: ProximaNovaBold