%section.why2
  .wrapper
    .section-title
      %h2
        Наши работы

    .porftfolio
      .work
        .video-preview
          = image_tag 'work_1.jpg'
        .name
          Видео-отзыв
        .about
          Съемка видео отзывов для компании
          занимающейся банкротством компаний.


      .work.last
        .video-preview
          = image_tag 'work_2.jpg'
        .name
          Презентация услуги
        .about
          Съемка видео презентации для потенциальных
          клиентов на услугу YouTube продвижения.


      .work
        .video-preview
          = image_tag 'work_3.jpg'
        .name
          Видео приветствие на сайт
        .about
          Видео приветствие Алексея Толкачева. Чемпиона
          Мира по парашютно-горнолыжному двоеборью


      .work.last
        .video-preview
          = image_tag 'work_4.jpg'
        .name
          Презентация товара
        .about
          Съемка видео презентации товара
          %br
          для потенциальных клиентов