.video-modal-bg
.video-modal



%script#intro-video-html{type: 'template'}
  %iframe{src: '//www.youtube.com/embed/hVwUUgdF2-k?rel=0&enablejsapi=1&autoplay=1',
                          width: 853,
                          height: 480, frameborder: 0}

%script#guber-video{type: 'template'}
  %iframe{src: '//www.youtube.com/embed/j7kxijxrjgw?rel=0&enablejsapi=1&autoplay=1',
                          width: 853,
                          height: 480, frameborder: 0}


%script#dashkiev-video{type: 'template'}
  %iframe{src: '//www.youtube.com/embed/3JDZF-nHdlQ?rel=0&enablejsapi=1&autoplay=1',
                          width: 853,
                          height: 480, frameborder: 0}

%script#action-video{type: 'template'}
  %iframe{src: '//www.youtube.com/embed/cqgP-6QfgBc?rel=0&enablejsapi=1&autoplay=1',
                          width: 853,
                          height: 480, frameborder: 0}