.wrapper.padding1
  .title
    Создание продающих видеороликов для страниц захвата.

.wrapper.padding1
  .video-block
    %iframe{src: '//www.youtube.com/embed/hVwUUgdF2-k?rel=0&enablejsapi=1',
            width: 960,
            height: 540, frameborder: 0}

.white-strip
  .wrapper
    .form-body{action: '#'}
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
      %button#send-order
        Заказать консультацию

    .form-success
      Спасибо! Мы свяжемся с вами очень скоро.