.block
  .wrapper
    .left
      Съемка и продвижение видеороликов в Youtube.
      %br
      %small
        Увеличение продаж путем вывода видео в топ Youtube.
    .right
      +7 (495) 888-88-88


#main
  .wrapper
    .left
      .video
        %iframe{width: 640, height: 360, src: 'http://www.youtube.com/embed/JwjkGdQ-F2g', frameborder: 0}

    .right
      .order-form

        .content
          Оставьте заявку и получите бесплатную консультацию

        %form
          %input{type: :text, name: :username, placeholder: 'Ваше имя'}
          %input{type: :text, name: :phone, placeholder: 'Ваш телефон'}
          %input{type: :text, name: :email, placeholder: 'Ваш email'}
          .submit#submit-order
            Отправить



%section
  .title
    Почему с нами работают

    .wrapper

      .pains

        .pain
          .title
            100% гарантия
          .content
            Вы платите деньги только после того, как увидите готовый ролик!

        .pain
          .title
            Мы продумаем за вас ролик на 93%
          .content
            Вам не придется напрягать мозги и бла-бла-бла


        .pain
          .title
            Эксперты в YouTube продвижении!
          .content
            45 снятых роликов, 56 позиций в топ youtube.

        .pain
          .title
            Расчет стоимости в день обращения!
          .content
            Расчет стоимости продвижения в YouTube в день обращения!

        .pain
          .title
            Соблюдение сроков!
          .content
            За каждый просроченный день мы выплачиваем Вам штраф.

        .pain
          .title
            Адекватная цена!
          .content
            У нас не дешевле чем у конкурентов, но и не завышена в 4 раза.


%section
  .title
    Мнения экспертов
  .wrapper
    .opinions
      .opinion
        .whois
          .name
            Михаил Дашкиев
          .position
            Бизнесмен, бизнес тренер
            %br
            Является управляющим партнером компании "Бизнес Молодость",
            управляющим партнером консалтингового агентства «Mokselle»,
            компании «Энергосберегающие системы»,  проекта «Турдело».

        .video-block
          .video
            %iframe{width: 640, height: 360, src: 'http://www.youtube.com/embed/3JDZF-nHdlQ', frameborder: 0}

      .opinion
        .whois
          .name
            Дмитрий Губерниев
          .position
            Спортивный комментатор.
            %br
            Работает на телеканалах «Россия» и «Спорт». Ведет программы «Сборная России» и «Неделя спорта».
            В 2007 году был удостоен премии ТЭФИ как лучший спортивный телекомментатор.

        .video-block
          .video
            %iframe{width: 640, height: 360, src: 'http://www.youtube.com/embed/j7kxijxrjgw', frameborder: 0}


      .opinion
        .whois
          .name
            Алексей Толкачев
          .position
            Инфобизнесмен
            %br
            Автор обучающих курсов по созданию собственного бизнеса и работы над собой.
            Чемпион Мира по парашютно-горнолыжному двоеборью

        .video-block
          .video
            %iframe{width: 640, height: 360, src: 'http://www.youtube.com/embed/81nLU3CAgUk', frameborder: 0}

%section
  .title
    Проблемы с которыми сталкиваются люди
    %br
    при заказе рекламы на Youtube


  .wrapper
    .problems
      .problem
        .title
          Проблема предоплаты
        .content
          После получения предоплаты с вас начинают вытягивать деньги на непредвиденные расходы.

      .problem
        .title
          Проблема гарантии
        .content
          Вам не предоставляют никаких гарантий, оправдывая это тем, что результат невозможно предсказать.

      .problem
        .title
          Проблема эффективности
        .content
          Вам обещают миллионы просмотров на Youtube. Но накрученные просмотры не приносят пользу вашему бизнесу.


      .problem
        .title
          Проблема сроков
        .content
          Съемка двухминутного ролика растягивается на полтора месяца по причине непредвиденных проблем.


%section
  .title
    Наши услуги

  .wrapper
    .services
      .service
        .name
          Съемка видео-ролика
        .about

          1. Подбираем подходящую концепцию ролика
          %br
          2. Разрабатываем сценарий, согласовываем бюджет.
          %br
          3. Снимаем ролик
        .price
          от 10 000 руб.
      .service
        .name
          Продвижение видео-ролика в ТОП Youtube
        .about
          1. Подбираем ключевые слова
          %br
          2. Оформляем и оптимизируем ваш канал на YouTube
          %br
          3. Оптимизируем и выводим в TOP YouTube ваше видео
        .price
          от 7 000 руб.


-#%section
  .title
    Наши результаты


  .wrapper
    .results
      .result
        .screen.kris
        .about
          %h2
            Для Кристины