.wrapper.padding4
  .title
    Существует 4 типа рекламы на
    %span.light YouTube.
    Узнайте, какой идеально подойдет вам.



-#.wrapper.padding1
  .benefits-header

  .benefits
    .benefit
      Вы становитесь владельцем ООО всего за 1 час
    .benefit
      100% гарантия чистоты фирмы
    .benefit
      Большой опыт. Более 200 проданных компаний
    .benefit
      Консультация и помощь при подборе ООО


.wrapper
  .phone
    8 (495) 792 89 59
    .small
      Работаем по всей России и СНГ.


.wrapper
  .order-button
    Заказать консультацию



.modal-overlay
.modal-dialog
  .header
    Заказать консультацию
  .body
    %form{action: '#'}
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
      %button#send-order
        Заказать консультацию

.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!